{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}


{% block main %}

<div class="d-flex justify-content-center">
    {% if request.user == exercise.author %}
    <form action="" method="post">
        {% csrf_token %}
        <p class="text-center text-light">Вы уверены что хотите удалить пост: {{ exercise.title }}</p>

        <div class="d-flex justify-content-between">
            <button class="btn btn-danger rounded" type="submit">Да удалить</button>
            <a href="{{ exercise.get_absolute_url }}" class="btn btn-success rounded">Нет, не удалять</a>
        </div>

    </form>
    {% else %}
    <h3 class="text-danger">Ты не можешь удалить пост</h3>
    {% endif %}
</div>

{% endblock main %}